<!--- Content --->
    <section class="content-body">
        <div class="container-lg mx-auto">
            <!--- DISPLAY TITLE --->
            <span class="display-text"> Warehouse </span>

            <!--- NAVIGATION TABS --->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" >Pemasukan Barang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-primary" aria-current="page" href="/pengeluaran">Pengeluaran Barang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-danger" aria-current="page" href="/penarikan">Penarikan Barang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-info" aria-current="page" href="/histori">Histori Barang</a>
                </li>
            </ul>

            <!--- CONTAINER CONTENT FROM TAB  --->
            <div class="container-md bg-light p-2 mb-4">
                <div class="container-lg ">
                            
                    <div class="d-flex align-items-center">
                        <form class="d-flex align-items-center">
                            <p style="margin: 0;">Search: </p>
                            <input type="text" placeholder="Cari Deskripsi Barang" id="deskripsi_brg" name="deskripsi_brg" class="ms-2">
                            <button type="button" class="btn btn-dark mx-2" id="search-button">Search</button>
                        </form>
                        
                        <!--- DROPDOWN FILTER BARANG --->
                        <div class="dropdown">
                            <button class="btn btn-light border border-dark mx-2 dropdown-toggle" type="button" id="filterButton" aria-expanded="false" data-bs-toggle="dropdown"> More Filter </button>

                            <div class="dropdown-menu" width="800">

                            <form class="px-2 py-1" method="get" action="">
                                <div class="row">

                                    <div class="col-md border">
                                        <!--- FLT. TGL --->
                                        <div class="mb-2">
                                            <label for="tgl_pemasukan">Tgl. Pemasukan</label>
                                            <input type="date" class="form-control" id="tgl_pemasukan" placeholder="mm-dd-yyyy" value=""
                                            min="1999-01-01" max="2050-12-31">
                                        </div>
                                        <!--- FLT. DOKUM --->
                                        <div class="mb-2">
                                            <label for="no_dokumen_bc">No. Dokumen BC</label>
                                            <input type="text" class="form-control" id="no_dokumen_bc">
                                        </div>
                                        <!--- FLT. WAKTU --->
                                        <div class="mb-2">
                                            <label for="waktu">Waktu</label>
                                            <input type="time" class="form-control" id="waktu" value="00:00:00">
                                        </div>
                                    </div>

                                    <div class="col-md border">
                                        <!--- FLT. MEREK --->
                                        <div class="mb-2">
                                            <label for="merek_brg">Merek Barang</label>
                                            <input type="text" class="form-control" id="merek_brg">
                                        </div>
                                        <!--- FLT. HARGA --->
                                        <div class="mb-2">
                                            <label for="harga_per_unit">Harga Per Unit</label>
                                            <input type="number" class="form-control" id="harga_per_unit" step="0.01">
                                        </div>
                                        <!--- FLT. JENIS OPTION --->
                                        <div class="mb-2">
                                            <label for="jenis_barang">Jenis Barang</label>
                                            <select id="jenis_barang" class="form-select">
                                                <option selected>--PILIH JENIS--</option>
                                                <option value="1">Kosmetik</option>
                                                <option value="2">Perhiasan</option>
                                                <option value="3">Jam Tangan</option>
                                                <option value="4">Fashion</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--- BUTTON DIVIDER --->
                                    <div class="dropdown-divider"></div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary" style="font-weight: 700;">Filter</button>
                                        <button type="reset" class="btn btn-danger ms-2" style="font-weight: 700;">Reset</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!--- TABLE CONTAINER --->
            <div class="container-lg mt-3 overflow-scroll table-container-height-pmk">
                <!---<iframe src="./public/src/html/table_pemasukan.html" width="1050" height="300"></iframe>--->
                <table class="table table-bordered border table-custom-pmk table-hover" id="tb_pemasukan">
                    {{!#each entry}}
                        <thead class="table-secondary sticky-top">
                            <tr>
                                <th scope="col"><input type="checkbox" name="select-all-items" id="select-all-items"></th>
                                <th scope="col" class="w-50">Deskripsi Barang</th>
                                <th scope="col">Tgl. Pemasukan</th>
                                <th scope="col">Jenis Barang</th>
                                <th scope="col">Waktu</th>
                                <th scope="col">Merek Barang</th>
                                <th scope="col">No. Dokumen BC</th>
                                <th scope="col">Harga Per Unit</th>
                                <th scope="col">Vendor Item</th>
                                <th scope="col">HS Code</th>
                                <th scope="col">Barcode Barang</th>
                                <th scope="col">Aksi Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.results}}
                            <tr>
                                <td><input type="checkbox" name="select-item" id="select-item"></td>
                                <td>{{this.deskripsi_brg}}</td>
                                <td>{{this.tgl_pemasukan}}</td>
                                <td>{{this.jenis_barang}}</td>
                                <td>{{this.waktu}}</td>
                                <td>{{this.merek_brg}}</td>
                                <td>{{this.no_dokumen_bc}}</td>
                                <td id="harga_per_unit">{{this.harga_per_unit}}</td>
                                <td>{{this.vendor_item}}</td>
                                <td>{{this.hs_code}}</td>
                                <td>{{this.barcode_brg}}</td>
                                <td>
                                    <button class="btn btn-warning">
                                        <strong>Edit</strong>
                                    </button>
                                    <button class="btn btn-warning">
                                        <strong>View</strong>
                                    </button>
                                </td>
                            </tr>   
                            {{/each}}
                        </tbody>
                </table>
            </div>

            <!--- ITEM COUNT DISPLAY & PAGINATION CONTAINER --->
            <div class="container-lg d-flex mt-2 mb-1">
                <!--- DISPLAY COUNT CONTAINER --->
                <div class="container" aria-label="display-count-container" height="20">
                    <span id="total-item-count" class="mx-2"><strong>Total Item: {{data.totalItem}}</strong></span>
                    <span id="total-price-items" class="mx-2"><strong>Total Semua Harga: {{data.total_harga}} USD</strong></span>
                </div>
                
                <!--- PAGINATION --->
                <nav aria-label="Page navigation example">
                
                        <ul class="pagination">
                        <li class="page-item"><a class="page-link link-dark" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="#">3</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="#">Next</a></li>
                        </ul>

                </nav>

                {{!each}}
            </div>

            <!--- BUTTON GROUP FOR TABLE --->
            <div class="container-lg d-flex my-2 justify-content-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-item-modal">Tambah Barang</button>
                <button type="button" class="btn btn-danger ms-2">Hapus Barang</button>
                <button type="button" class="btn btn-primary ms-2">Kirim Barang</button>
            </div>

        </div>

        {{> add_item_modal }} 
    </section>