<!--- CONTENT CONTAINER --->
    <section class="content-body">
        <div class="container-lg mx-auto mb-5">
            <!--- DISPLAY TABLE --->
            <span class="display-text">Warehouse</span>
        
            <!--- NAVIGATION TABS --->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link link-success" aria-current="page">Penyimpanan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/pencetakan" class="nav-link active" aria-current="page">Pencetakan Laporan</a>
                </li>
                <li class="nav-item">
                    <a href="/histori" class="nav-link link-info" aria-current="page">Histori Laporan</a>
                </li>
            </ul>

            <!--- CONTAINER CONTENT FROM TAB --->
            <div class="container-md bg-light p-3">

                <!--- FORM INPUT LAMPIRAN PPB-TBB CONTAINER --->
                <div class="container p-3 bg-warning rounded">
                    <form action="" method="post" id="keranjang_item">
                        
                        <!--- FIRST ROW --->
                        <div class="row my-1">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <!--- NO. DOKUMEN BC MIN & MAX INPUT --->
                                    <label for="no_dokumen_bc_lmpr">No. Dokumen BC:</label>
                                    <input type="text" name="no_dokumen_bc_lmpr" id="no_dokumen_bc_lmpr" class="form-control">
                                </div>
                                <div>
                                    <label for="merek_lampiran">Merek Khusus: </label>
                                    <input type="text" name="merek_lampiran" id="merek_lampiran" class="form-control">
                                </div>
                            </div>
                        </div>

                        <!--- SECOND ROW --->
                        <div class="row my-1">
                            <div class="d-flex justify-content-between">
                                <!--- JENIS DOKUMEN INPUT --->
                                <div>
                                    <label for="jenis_dokumen">Jenis Dokumen:</label>
                                    <input type="text" name="jenis_dokumen" id="jenis_dokumen" class="form-control">
                                </div>
                                <!--- TGL. PEMASUKAN INPUT --->
                                <div>
                                    <label for="tgl_dokumen_masuk_lmpr">Tgl. Dokumen Masuk:</label>
                                    <input type="date" name="tgl_dokumen_masuk_lmpr" id="tgl_dokumen_masuk_lmpr" class="form-control">
                                </div>
                                <div>
                                    <label for="jenis_barang_lmpr">Jenis Barang</label>
                                    <select name="jenis_barang_lmpr" id="jenis_barang_lmpr" class="form-select">
                                        <option selected> === PILIH === </option>
                                        <option value="Kosmetik">Kosmetik</option>
                                        <option value="Perhiasan">Perhiasan</option>
                                        <option value="Jam Tangan">Jam Tangan</option>
                                        <option value="Fashion">Fashion</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--- THIRD ROW --->
                        <div class="row my-1">
                            <div class="col">
                                <label for="index_tag_lmpr">Index Tag:</label>
                                <input type="text" name="index_tag_lmpr" id="index_tag_lmpr" class="ms-1 form-control">
                            </div>
                            <div class="col">
                            <!--- INPUT ERROR FLASH --->
                            <!---
                                <%# if(errors != "") { %>
                                    <%# errors.forEach((item) => { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%#- item %>
                                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    <%# }); %>
                                <%# } %> 
                            --->
                            </div>
                        </div>

                        <!--- THIRD ROW --->
                        <div class="row row-cols-1 my-1">
                            <div class="col">
                                <h4>Keranjang Barang</h4>
                            </div>

                            <!--- TABLE KERANJANG BARANG --->
                            <div class="col">
                                <!--- TABLE KERANJANG SEARCH BAR --->
                                <div class="d-flex align-items-center my-2">
                                    <p style="margin: 0;">Search: </p>
                                    <input type="text" placeholder="Cari Deskripsi Barang" id="search_bar_pgl" name="search_bar_pgl" class="ms-2">
                                </div>
                                <!--- TABLE KERANJANG CONTAINER --->
                                <div class="overflow-scroll table-container-size-pgl border mx-4 bg-light">
                                    <table class="table table-light table-bordered border table-hover table-custom-pgl" id="tb_keranjang">
                                        <thead class="table-secondary sticky-top">
                                            <tr>
                                                <!--- CHECKBOX ALL -->
                                                <th scope="col"><input type="checkbox" name="select-all-items"id="select-all-items"></th>
                                                <!----->
                                                <th scope="col" class="th-deskripsi-brg">Deskripsi Barang</th>
                                                <th scope="col">Tgl. Pemasukan</th>
                                                <th scope="col">Jenis Barang</th>
                                                <th scope="col">Merek Barang</th>
                                                <th scope="col">No. Dokumen BC</th>
                                                <th scope="col">Barcode Barang (No. Reff)</th>
                                                <th scope="col">Harga Per Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each data.results}}
                                            <tr>
                                                <td id="{{this.id_keranjang}}"><input type="checkbox" name="select-item-cart" id="select-item-cart"></td>
                                                <td id="deskripsi_brg_pgl">{{this.deskripsi_barang}}</td>
                                                <td id="tgl_pemasukan_pgl">{{this.tgl_pemasukan}}</td>
                                                <td id="jenis_barang_pgl">{{this.jenis_barang}}</td>
                                                <td id="merek_barang_pgl">{{this.merek_barang}}</td>
                                                <td id="no_dokumen_pgl">{{this.no_dokumen_bc}}</td>
                                                <td id="barcode_brg_pgl">{{this.barcode_barang}}</td>
                                                <td id="harga_per_unit_pgl">{{this.harga_per_unit}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <!--- TABLE UTILITIES --->
                                <div class="my-3 mx-4 d-flex justify-content-between">
                                    <div>
                                        <!--- DELETE SELECTED ITEM FROM TABLE BUTTON --->
                                        <button type="button" name="delete_items_btn" id="delete_cart_items_btn" class="btn btn-danger ms-2">Hapus Barang</button>
                                        <!--- ADD ITEM INTO LAMPIRAN --->
                                        <button type="button" name="add_item_lampiran" id="add_lampiran_btn" class="btn btn-primary">Tambah Item ke Lampiran</button>
                                    </div>
                                    <div>
                                        {{#if data.total_harga}}
                                            <p><strong>Total Harga: {{data.total_harga}} USD</strong></p>
                                        {{else}}
                                            <p><strong>Total Harga: 0 USD</strong></p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                        </div> 
                    </form>
                </div>

                <!--- LAMPIRAN CONTAINER --->
                <div class="container-lg mt-2">
                    <h2>Daftar Lampiran</h2>

                    <!--- LIST LAMPIRAN & INPUT LAPORAN CONTAINER --->
                    <div class="container-lg">
                        <div class="row">
                            <!--- DAFTAR LAMPIRAN --->
                            <div class="col-lg-8">
                                <div class="kotak-lampiran overflow-auto" aria-label="daftar-lampiran" id="daftar-lampiran">
                                    <!--- LAMPIRAN ITEM --->
                                    <div class="lampiran-item border border-dark mb-3" id="lampiran-item">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!--- LAMPIRAN INFO DISPLAY --->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!--- TABEL 3 ATRIBUT BARANG --->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr id="table-lampiran-items">
                                                    <td id="barcode_lampiran">7611773097710</td>
                                                    <td id="deskripsi_brg_lampiran">LAP Supreme Balm Cleaner</td>
                                                    <td id="quantity_lampiran">1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--- LAMPIRAN ITEM --->
                                    <div class="lampiran-item border border-dark mb-3" id="lampiran-item">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!--- LAMPIRAN INFO DISPLAY --->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!--- TABEL 3 ATRIBUT BARANG --->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>7611773097710</td>
                                                    <td>LAP Supreme Balm Cleaner</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <p id="total-all-lampiran"><strong>Total Seluruh: 6 Pcs</strong></p>
                            </div>
    
                            <!--- INPUT TAMBAHAN LAPORAN --->
                            <div class="col-lg-4">
                                <h4><strong>Input Laporan PPB-TBB</strong></h4>
                                <p id="display-error">Input Wajib diisi semua</p>
                                <div class="container border p-1">
                                    <form method="post">
                                        <!--- R.I. NO. LAPORAN --->
                                        <div>
                                            <label class="form-label" for="nomor-laporan">Nomor Laporan:</label><br>
                                            <input type="text" class="form-control mt-2" id="nomor-laporan" name="nomor_laporan">
                                        </div>
                                        
                                        <div>
                                            <label class="form-label">Tanggal Laporan:</label><br>
                                            <input type="radio" class="form-check-input" name="tanggal_laporan" id="auto-increment-date">
                                            <label for="auto-increment-date" class="form-label">Auto-Increment (Penanggalan Otomatis)</label>
                                            <input type="radio" class="form-check-input" name="tanggal_laporan"
                                            value="date-manual" id="date-manual">
                                            <label for="date-manual" class="form-label">Tanggal Manual: </label>
                                            <input type="date" class="form-control mt-2" placeholder="Tanggal Manual.." id="date-manual">
                                        </div>

                                        <div>
                                            <label class="form-label">Aksi Transfer Barang:</label><br>
                                            <input type="radio" class="form-check-input" name="transfer_status" 
                                            value="pengeluaran" id="pengeluaran-brg">
                                            <label for="pengeluaran-brg" class="form-label">Pengeluaran Barang</label><br>
                                            <input type="radio" class="form-check-input" name="transfer_status"
                                            value="penarikan" id="penarikan-brg">
                                            <label for="penarikan-brg" class="form-label">Penarikan Barang</label>
                                        </div>

                                        <label for="alamat-penimbunan" class="form-label">Alamat Ruang Penimbunan</label>
                                        <input type="text" id="alamat-penimbunan" name="alamat_penimbunan">
                                        
                                        <label for="alamat-penjualan" class="form-label">Alamat Ruang Penjualan</label>
                                        <input type="text" id="alamat-penjualan" name="alamat_penjualan">
                                        
                                        <label for="penanggung-jawab" class="form-label">Nama Pg. Jawab TBB</label>
                                        <input type="text" id="penanggung-jawab" name="pngg_jawab_tbb"><br>
                                        
                                        <label for="jabatan-tbb" class="form-label">Jabatan TBB</label><br>
                                        <input type="text" id="jabatan-tbb" name="jabatan_tbb"><br>
                                        
                                        <label for="lokasi-tempat" class="form-label">Lokasi Tempat</label><br>
                                        <select id="lokasi-tempat" class="form-select" name="lokasi_tempat">
                                            <option selected>-- PILIH --</option>
                                            <option value="DF6">DF6</option>
                                        </select>
                                        <button class="btn btn-info mt-3" type="submit" id="save-lpr-btn"><strong>Save Input Laporan</strong></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <a type="button" class="btn btn-warning my-3" href="#"><strong>Check-up & Print PPB-TBB</strong></a>
                </div>
            </div>
        </div>
    </section>