<!--- CONTENT CONTAINER --->
    <section class="content-body">
        <div class="container-lg mx-auto mb-5">
            <!--- DISPLAY TABLE --->
            <span class="display-text">Warehouse</span>
        
            <!--- NAVIGATION TABS --->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link link-success" aria-current="page">Pemasukan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/pengeluaran" class="nav-link active" aria-current="page">Pengeluaran Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/penarikan" class="nav-link link-danger" aria-current="page">Penarikan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/histori" class="nav-link link-info" aria-current="page">Histori Laporan</a>
                </li>
            </ul>

            <!--- CONTAINER CONTENT FROM TAB --->
            <div class="container-md bg-light p-3">

                <!--- FORM INPUT LAMPIRAN PPB-TBB CONTAINER --->
                <div class="container p-3 bg-warning rounded">
                    <form action="" method="post">
                        
                        <!--- FIRST ROW --->
                        <div class="row my-1">
                            <div class="d-flex">
                                <!--- NO. DOKUMEN BC MIN & MAX INPUT --->
                                <label for="no-dokumen-bc">No. Dokumen BC:</label>
                                <input type="text" name="min-no-dokumen-bc" id="no-dokumen-bc">
                                <span> - </span>
                                <input type="text" name="max-no-dokumen-bc" id="no-dokumen-bc">
                            </div>
                        </div>

                        <!--- SECOND ROW --->
                        <div class="row my-1">
                            <div class="d-flex justify-content-between">
                                <!--- JENIS DOKUMEN INPUT --->
                                <div>
                                    <label for="jenis-dokumen" class="form-label">Jenis Dokumen:</label>
                                    <input type="text" name="jenis-dokumen" id="jenis-dokumen">
                                </div>
                                <!--- TGL. PEMASUKAN INPUT --->
                                <div>
                                    <label for="tgl-pemasukan" class="form-label">Tgl. Dokumen Masuk:</label>
                                    <input type="text" name="tgl-pemasukan" id="jenis-dokumen">
                                </div>
                            </div>
                        </div>

                        <!--- THIRD ROW --->
                        <div class="row my-1">
                            <div class="col">
                                <label for="index-tag">Index Tag:</label>
                                <input type="text" name="index-tag" id="index-tag" class="ms-1">
                            </div>
                            <div class="col">
                            <!--- INPUT ERROR FLASH --->
                            <!---
                                <%# if(errors != "") { %>
                                    <%# errors.forEach((item) => { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%#- item %>
                                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    <%# }); %>
                                <%# } %> 
                            --->
                            </div>
                        </div>

                        <!--- THIRD ROW --->
                        <div class="row row-cols-1 my-1">
                            <div class="col">
                                <h4>Keranjang Barang</h4>
                            </div>

                            <!--- TABLE KERANJANG BARANG --->
                            <div class="col">
                                <!--- TABLE KERANJANG CONTAINER --->
                                <div class="overflow-scroll table-container-size-pgl border mx-4 bg-light">
                                    <table class="table table-light table-bordered border table-hover table-custom-pgl">
                                        <thead class="table-secondary sticky-top">
                                            <tr>
                                                <!--- CHECKBOX ALL -->
                                                <th scope="col"><input type="checkbox" name="select-all-items"id="select-all-items"></th>
                                                <!----->
                                                <th scope="col" class="th-deskripsi-brg">Deskripsi Barang</th>
                                                <th scope="col">Tgl. Pemasukan</th>
                                                <th scope="col">Jenis Barang</th>
                                                <th scope="col">Merek Barang</th>
                                                <th scope="col">No. Dokumen BC</th>
                                                <th scope="col">Barcode Barang (No. Reff)</th>
                                                <th scope="col">Harga Per Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each data.results}}
                                            <tr>
                                                <td><input type="checkbox" name="select-item" id="select-item"></td>
                                                <td class="">{{this.deskripsi_barang}}</td>
                                                <td class="">{{this.tgl_pemasukan}}</td>
                                                <td class="">{{this.jenis_barang}}</td>
                                                <td class="">{{this.merek_barang}}</td>
                                                <td class="">{{this.no_dokumen_bc}}</td>
                                                <td class="">{{this.barcode_barang}}</td>
                                                <td class="">{{this.harga_per_unit}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <!--- TABLE UTILITIES --->
                                <div class="my-3 mx-4 d-flex justify-content-between">
                                    <div>
                                        <!--- DELETE SELECTED ITEM FROM TABLE BUTTON --->
                                        <button type="button" name="delete-items-btn" id="delete-items-btn" class="btn btn-danger ms-2"><span>Hapus Barang (x)</span></button>
                                        <!--- ADD ITEM INTO LAMPIRAN --->
                                        <button type="button" name="add-item-lampiran" id="add-item-lampiran" class="btn btn-primary"><span>Tambah Item ke Lampiran</span></button>
                                    </div>
                                    <div>
                                        {{#if data.total_harga}}
                                            <p><strong>Total Harga: {{data.total_harga}} USD</strong></p>
                                        {{else}}
                                            <p><strong>Total Harga: 0 USD</strong></p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--- FOURTH ROW --->
                        <div class="row my-1 bg-light mx-3 p-1">
                            <div class="p-2 row">
                                <h4>Tambah Barang</h4>
                            </div>
                            <!--- LAMPIRAN ITEM --->
                            <div class="d-flex border border-dark my-1 p-1 justify-content-around align-items-center">
                                <div class="barcode-barang">
                                    <strong>Reff: </strong>
                                    <span>7611773097710</span>
                                </div>
                                <div class="deskripsi-barang">
                                    <strong>Description Brg: </strong>
                                    <span>LAP Supreme Balm Cleaner</span>
                                </div>
                                <div class="action-btn">
                                    <button type="button" class="btn btn-danger">
                                        Delete 
                                        <span class="icon-trash-svgrepo-com"></span>
                                    </button>
                                </div>
                            </div>
                            <!--- LAMPIRAN ITEM --->
                            <div class="d-flex border border-dark my-1 p-1 justify-content-around align-items-center">
                                <div class="barcode-barang">
                                    <strong>Reff: </strong>
                                    <span>7611773097710</span>
                                </div>
                                <div class="deskripsi-barang">
                                    <strong>Description Brg: </strong>
                                    <span>LAP Supreme Balm Cleaner</span>
                                </div>
                                <div class="action-btn">
                                    <button type="button" class="btn btn-danger">
                                        Delete 
                                        <span class="icon-trash-svgrepo-com"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--- FIFTH ROW --->
                        <div class="row mt-3">
                            <div class="col">
                                <!--- INPUT ERROR FLASH FROM TABLE --->
                                <!---
                                <%# if(errors != "") { %>
                                    <%# errors.forEach((item) => { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%#- item %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    <%# }); %>
                                <%# } %> 
                                --->
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary"><strong>Tambahkan Lampiran ke Daftar</strong></button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--- LAMPIRAN CONTAINER --->
                <div class="container-lg mt-2">
                    <h2>Daftar Lampiran</h2>

                    <!--- LIST LAMPIRAN & INPUT LAPORAN CONTAINER --->
                    <div class="container-lg">
                        <div class="row">
                            <!--- DAFTAR LAMPIRAN --->
                            <div class="col-lg-8">
                                <div class="kotak-lampiran overflow-auto" aria-label="daftar-lampiran">
                                    <!--- LAMPIRAN ITEM --->
                                    <div class="lampiran-item border border-dark mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!--- LAMPIRAN INFO DISPLAY --->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!--- TABEL 3 ATRIBUT BARANG --->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>7611773097710</td>
                                                    <td>LAP Supreme Balm Cleaner</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--- LAMPIRAN ITEM --->
                                    <div class="lampiran-item border border-dark mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!--- LAMPIRAN INFO DISPLAY --->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!--- TABEL 3 ATRIBUT BARANG --->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>7611773097710</td>
                                                    <td>LAP Supreme Balm Cleaner</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <p id="total-all-lampiran"><strong>Total Seluruh: 6 Pcs</strong></p>
                            </div>
    
                            <!--- INPUT TAMBAHAN LAPORAN --->
                            <div class="col-lg-4">
                                <h4><strong>Input Laporan PPB-TBB</strong></h4>
                                <p id="display-error">Input Wajib diisi semua</p>
                                <div class="container border p-1">
                                    <form>
                                        <!--- R.I. NO. LAPORAN --->
                                        <div>
                                            <label class="form-label" for="nomor-laporan">Nomor Laporan:</label><br>
                                            <input type="text" class="form-control mt-2" id="nomor-laporan">
                                        </div>
                                        
                                        <div>
                                            <label class="form-label">Tanggal Laporan:</label><br>
                                            <input type="radio" class="form-check-input" name="tanggal-laporan" id="auto-increment-date">
                                            <label for="auto-increment-date" class="form-label">Auto-Increment (Penanggalan Otomatis)</label>
                                            <input type="radio" class="form-check-input" name="tanggal-laporan"
                                            value="date-manual" id="date-manual">
                                            <label for="date-manual" class="form-label">Tanggal Manual: </label>
                                            <input type="text" class="form-control mt-2" placeholder="Tanggal Manual.." id="date-manual">
                                        </div>

                                        <label for="alamat-penimbunan" class="form-label">Alamat Ruang Penimbunan</label>
                                        <input type="text" id="alamat-penimbunan">
                                        
                                        <label for="alamat-penjualan" class="form-label">Alamat Ruang Penjualan</label>
                                        <input type="text" id="alamat-penjualan">
                                        
                                        <label for="penanggung-jawab" class="form-label">Nama Pg. Jawab TBB</label>
                                        <input type="text" id="penanggung-jawab"><br>
                                        
                                        <label for="jabatan" class="form-label">Jabatan TBB</label><br>
                                        <input type="text" id="jabatan"><br>
                                        
                                        <label for="lokasi-tempat" class="form-label">Lokasi Tempat</label><br>
                                        <select id="lokasi-tempat" class="form-select">
                                            <option selected>-- PILIH --</option>
                                            <option value="DF6">DF6</option>
                                        </select>
                                        <button class="btn btn-info mt-3" type="submit" id="save-lpr-btn"><strong>Save Input Laporan</strong></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <a type="button" class="btn btn-warning my-3" href="#"><strong>Check-up & Print PPB-TBB</strong></a>
                </div>
            </div>
        </div>
    </section>