<!--- Content --->
    <section class="content-body">
        <div class="container-lg mx-auto">
            <!--- DISPLAY TITLE --->
            <span class="display-text"> Warehouse </span>

            <!--- NAVIGATION TABS --->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" >Penyimpanan Barang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-primary" aria-current="page" href="/pencetakan">Pencetakan Laporan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-info" aria-current="page" href="/histori">Histori Laporan</a>
                </li>
            </ul>

            <!--- CONTAINER CONTENT FROM TAB  --->
            <div class="container-md bg-light p-2 mb-4">
                <div class="container-lg ">
                            
                    <div class="d-flex align-items-center">
                        <form class="d-flex align-items-center" action="/search" method="get">
                            <p style="margin: 0;">Search: </p>
                            <input type="text" placeholder="Cari Deskripsi Barang" id="cari_deskripsi_brg" name="search_bar" class="ms-2">
                            <button type="submit" class="btn btn-dark mx-2" id="search-button">Search</button>
                        </form>
                        
                        <!--- DROPDOWN FILTER BARANG --->
                        <div class="dropdown">
                            <button class="btn btn-light border border-dark mx-2 dropdown-toggle" type="button" id="filterButton" aria-expanded="false" data-bs-toggle="dropdown"> More Filter </button>

                            <div class="dropdown-menu" width="800">

                            <form class="px-2 py-1" method="post" action="/filter">
                                <div class="row">

                                    <div class="col-md border">
                                        <!--- FLT. TGL --->
                                        <div class="mb-2">
                                            <label for="tgl_pemasukan">Tgl. Pemasukan</label>
                                            <input type="date" class="form-control" id="tgl_pemasukan" placeholder="mm-dddd-yyyy" name="tgl_pemasukan" value="">
                                        </div>
                                        <!--- FLT. DOKUM --->
                                        <div class="mb-2">
                                            <label for="no_dokumen_bc">No. Dokumen BC</label>
                                            <input type="text" class="form-control" id="no_dokumen_bc" name="no_dokumen_bc" value="">
                                        </div>
                                        <!--- FLT. WAKTU --->
                                        <div class="mb-2">
                                            <label for="waktu">Waktu</label>
                                            <input type="text" class="form-control" id="waktu" placeholder="hh:mm:ss" value="" name="waktu">
                                        </div>
                                    </div>

                                    <div class="col-md border">
                                        <!--- FLT. MEREK --->
                                        <div class="mb-2">
                                            <label for="merek_brg">Merek Barang</label>
                                            <input type="text" class="form-control" id="merek_brg" name="merek_brg" value="">
                                        </div>
                                        <!--- FLT. HARGA --->
                                        <div class="mb-2">
                                            <label for="harga_per_unit">Harga Per Unit</label>
                                            <input type="number" class="form-control" id="harga_per_unit" name="harga_per_unit" step="0.01" value="">
                                        </div>
                                        <!--- FLT. JENIS OPTION --->
                                        <div class="mb-2">
                                            <label for="jenis_barang">Jenis Barang</label>
                                            <select id="jenis_barang" name="jenis_barang" class="form-select">
                                                <option value="" selected>--PILIH JENIS--</option>
                                                <option value="Kosmetik">Kosmetik</option>
                                                <option value="Perhiasan">Perhiasan</option>
                                                <option value="Jam Tangan">Jam Tangan</option>
                                                <option value="Fashion">Fashion</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--- BUTTON DIVIDER --->
                                    <div class="dropdown-divider"></div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary" style="font-weight: 700;">Filter</button>
                                        <button type="reset" class="btn btn-danger ms-2" style="font-weight: 700;">Reset</button>
                                    </div>
    
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!--- TABLE CONTAINER --->
            <div class="container-lg mt-3 overflow-scroll table-container-height-pmk">
                <!---<iframe src="./public/src/html/table_pemasukan.html" width="1050" height="300"></iframe>--->
                <table class="table table-bordered border table-custom-pmk table-hover" id="tb_pemasukan">
                    {{!#each entry}}
                        <thead class="table-secondary sticky-top">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="w-50">Deskripsi Barang</th>
                                <th scope="col">Tgl. Pemasukan</th>
                                <th scope="col">Jenis Barang</th>
                                <th scope="col">Waktu</th>
                                <th scope="col">Merek Barang</th>
                                <th scope="col">No. Dokumen BC</th>
                                <th scope="col">Harga Per Unit</th>
                                <th scope="col">Vendor Item</th>
                                <th scope="col">HS Code</th>
                                <th scope="col">Barcode Barang</th>
                                <th scope="col">Gambar Barang</th>
                                <th scope="col">Aksi Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.results}}
                            <tr style="background-color: white;">
                                <td id="{{this.id_barang}}"><input type="checkbox" name="select-item" id="select-item"></td>
                                <td id="deskripsi_brg_pm">{{this.deskripsi_brg}}</td>
                                <td id="tgl_pemasukan_pm">{{this.tgl_pemasukan}}</td>
                                <td id="jenis_barang_pm">{{this.jenis_barang}}</td>
                                <td id="waktu_pm">{{this.waktu}}</td>
                                <td id="merek_brg_pm">{{this.merek_brg}}</td>
                                <td id="no_dokumen_bc_pm">{{this.no_dokumen_bc}}</td>
                                <td id="harga_per_unit_pm">{{this.harga_per_unit}}</td>
                                <td id="vendor_item_pm">{{this.vendor_item}}</td>
                                <td id="hs_code_pm">{{this.hs_code}}</td>
                                <td id="barcode_brg_pm">{{this.barcode_brg}}</td>
                                <td>
                                    <div class="picture-frame">
                                        {{#if this.img_barang}}
                                            <img src="upload/img/{{this.img_barang}}" alt="{{this.img_barang}}" id="image-item">
                                        {{else}}
                                            <img src="asset/img/no-image.png" alt="No Image Found" id="image-item">
                                        {{/if}}
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-warning">
                                        <strong>Edit</strong>
                                    </button>
                                </td>
                            </tr>   
                            {{/each}}
                        </tbody>
                </table>
            </div>

            <!--- ITEM COUNT DISPLAY & PAGINATION CONTAINER --->
            <div class="container-lg d-flex mt-2 mb-1">
                <!--- DISPLAY COUNT CONTAINER --->
                <div class="container" aria-label="display-count-container" height="20">
                    <span id="total-item-count" class="mx-2"><strong>Total Item: {{data.total_item}}</strong></span>
                    <span id="total-price-items" class="mx-2"><strong>Total Semua Harga: {{data.total_harga}} USD</strong></span>
                </div>

                {{!each}}
            </div>

            <!--- BUTTON GROUP FOR TABLE --->
            <div class="container-lg d-flex my-4 justify-content-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-item-modal">Tambah Barang</button>
                <button type="button" class="btn btn-danger ms-2" id="hapus-btn">Hapus Barang</button>
                <button type="button" class="btn btn-primary ms-2" id="kirim-btn">Kirim Barang</button>
            </div>

        </div>

        {{> add_item_modal }}
        <!--- IMAGE BUTTON MODAL --->
        <!-- The Modal -->
        <!--- <div id="myModal" class="modal"> --->
            <!-- The Close Button -->
            <!--- <span class="close">&times;</span> --->

            <!-- Modal Content (The Image) -->
            <!--- <img class="modal-content" id="img01"> -->

            <!-- Modal Caption (Image Text) -->
            <!--- <div id="caption"></div> --->
        <!--- </div> --->
    </section>